.sidebar {
    width: 70px;
    position: fixed;
    z-index: 1;
    text-align: center;
    top: 40px;
    left: 0px;
    overflow: hidden;
    padding: 0px 0;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    display: block;
    margin-top: 10px;
    cursor: pointer;
}

.sidebar  img {
    width: 40px;
    height: 40px;
}

.sidebar button {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

@media screen and (max-width: 350px) {
    .sidebar {
       margin-top: 8rem;
       background: none;
    }
}