.container {
    display: flex;
    justify-content: center;
}

.tfheader {
    display: flex;
    height: auto;
    justify-content: center;
    position: relative;
	color: #eb7434;
}

.input {
    display: flex;
    height: 4vh;
    width: 20vw;
    background-color: white;
    border: 1px solid black;
    margin: 20% 0 0 -35%;
}

::placeholder {
    text-align: left;
}

.bing {
    display: flex;
    height: auto;
    margin: 0 0 0 -36% ;
}

