.container {
	width: 100%;
	height: 100%;
	background-color: black;
}

.container::before {
	content: '';
	background: url("./assets/webdesign_2.jpg") no-repeat center center/cover;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	
}