.container {
    display: grid;
    grid-template-columns: 16% 16% 16% 16%;
    margin-left: 30%;
}

.dropdown {
    max-width: 105px;
    max-height: 37.5px;
    position: relative;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
    border: solid 1px orange;
    background-color: black;
    border-radius: 5px;
    padding: 5px 15px;
    text-align: center;
}

.dropdown:hover {
    color: black;
    background: orange;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 20px 40px 10px 10px rgba(255, 255, 255, 0.9);
    text-align: center;
    z-index: 1;
}

.dropdown-content button {
   
    width: fit-content;
    position: relative;
    min-width: 100px;
    min-height: 37px;
    background-color: black;
    border: 1px solid orange;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 5px 15px;
    cursor: pointer;
    z-index: 1;
    text-align: center;
    
}

.dropdown-content button:nth-child(1) {
    margin-top: 10px;
}

.dropdown-content button:hover {
    min-width: 100px;
    min-height: 37px;
    background-color: orange;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 15px;
    cursor: pointer;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.3);
    
}

.dropdown:hover .dropdown-content {
    font: 16px;
    top: 100%;
    display: block;
    cursor: pointer;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

@media screen and (max-width: 600px) {
    .dropdown {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 10px;
        text-align: center;
    }
}